## –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 2: –õ–∏–Ω–µ–π–Ω—ã–µ –º–æ–¥–µ–ª–∏. –†–∞–±–æ—Ç–∞ —Å –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏

–ü—Ä–∞–≤–∏–ª–∞:

* –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ –æ—Ü–µ–Ω–∏–≤–∞–µ—Ç—Å—è –≤ 10 –±–∞–ª–ª–æ–≤.

* –ú–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –±–µ–∑ –¥–æ–∫–∞–∑–∞—Ç–µ–ª—å—Å—Ç–≤–∞ –ª—é–±—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã, –≤—Å—Ç—Ä–µ—á–∞–≤—à–∏–µ—Å—è –Ω–∞ –ª–µ–∫—Ü–∏—è—Ö –∏–ª–∏ —Å–µ–º–∏–Ω–∞—Ä–∞—Ö –ø–æ –∫—É—Ä—Å—É, –µ—Å–ª–∏ –ø–æ–ª—É—á–µ–Ω–∏–µ —ç—Ç–∏—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –Ω–µ —è–≤–ª—è–µ—Ç—Å—è –≤–æ–ø—Ä–æ—Å–æ–º –∑–∞–¥–∞–Ω–∏—è.

* –ú–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ª—é–±—ã–µ —Å–≤–æ–±–æ–¥–Ω—ã–µ –∏—Å—Ç–æ—á–Ω–∏–∫–∏ —Å *–æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã–º* —É–∫–∞–∑–∞–Ω–∏–µ–º —Å—Å—ã–ª–∫–∏ –Ω–∞ –Ω–∏—Ö.

* –ü–ª–∞–≥–∏–∞—Ç –Ω–µ –¥–æ–ø—É—Å–∫–∞–µ—Ç—Å—è.

* –°—Ç–∞—Ä–∞–π—Ç–µ—Å—å —Å–¥–µ–ª–∞—Ç—å –∫–æ–¥ –∫–∞–∫ –º–æ–∂–Ω–æ –±–æ–ª–µ–µ –æ–ø—Ç–∏–º–∞–ª—å–Ω—ã–º –∏ —á–∏—Ç–∞–µ–º—ã–º.

In [159]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%pylab inline

Populating the interactive namespace from numpy and matplotlib

/Users/elenaefimova/opt/anaconda3/lib/python3.8/site-packages/IPython/core/magics/pylab.py:159: UserWarning: pylab import has clobbered these variables: ['copy']
`%matplotlib` prevents importing * from pylab and numpy
  warn("pylab import has clobbered these variables: %s"  % clobbered +

–í —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏ –º—ã —Ä–∞—Å—Å–º–æ—Ç—Ä–∏–º —Ä–∞–∑–ª–∏—á–Ω—ã–µ –∞—Å–ø–µ–∫—Ç—ã –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –ª–∏–Ω–µ–π–Ω–æ–π –º–æ–¥–µ–ª–∏. –ú—ã –±—É–¥–µ–º —Ä–∞–±–æ—Ç–∞—Ç—å —Å –æ–¥–Ω–∏–º –∏–∑ –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–∏—Ö –Ω–∞–±–æ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–µ, —Å–æ–¥–µ—Ä–∂–∞—â–∏–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –±—Ä–∏–ª–ª–∏–∞–Ω—Ç–∞—Ö. –û–ø–∏—Å–∞–Ω–∏–µ –º–æ–∂–Ω–æ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å [–∑–¥–µ—Å—å](https://www.kaggle.com/shivam2503/diamonds).

In [160]:
data = pd.read_csv('diamonds.csv')
data.head(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

–ú—ã –±—É–¥–µ–º —Ä–µ—à–∞—Ç—å –∑–∞–¥–∞—á—É –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è —Ü–µ–Ω—ã –±—Ä–∏–ª–ª–∏–∞–Ω—Ç–∞ `price` –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –µ–≥–æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫.

## –ü–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏

**–ó–∞–¥–∞–Ω–∏–µ 1 (1 –±–∞–ª–ª)** –ï—Å—Ç—å –ª–∏ –≤ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è? –ï—Å–ª–∏ –¥–∞, —É–¥–∞–ª–∏—Ç–µ –∏—Ö.

In [161]:
data.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

**–ó–∞–¥–∞—á–∞ 2 (1 –±–∞–ª–ª)** –ï—Å—Ç—å –ª–∏ –≤ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö –±–µ—Å—Å–º—ã—Å–ª–µ–Ω–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã (–ø—Ä–∏–∑–Ω–∞–∫–∏, –Ω–µ –Ω–µ—Å—É—â–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏)? –ï—Å–ª–∏ –¥–∞, —Ç–æ —É–¥–∞–ª–∏—Ç–µ –∏—Ö. –ü–æ—è—Å–Ω–∏—Ç–µ —Å–≤–æ–π –≤—ã–±–æ—Ä (–Ω–∞–ø–∏—à–∏—Ç–µ —Ç–µ–∫—Å—Ç–æ–º –æ–±–æ—Å–Ω–æ–≤–∞–Ω–∏–µ).

In [162]:
# –Ω–µ –Ω–µ—Å–µ—Ç –¥–æ–ø –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ —Å—Ç–æ–ª–±–µ—Ü Unnamed: 0. –û–Ω —Ñ–∞–∫—Ç–∏—á–µ—Å–∫–∏ –ø–æ–≤—Ç–æ—Ä—è–µ—Ç –∏–Ω–¥–µ–∫—Å
data = data.drop(['Unnamed: 0'], axis=1)
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

**–ó–∞–¥–∞–Ω–∏–µ 3 (1 –±–∞–ª–ª)** –õ–∏–Ω–µ–π–Ω–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è –æ—Å–Ω–æ–≤–∞–Ω–∞ –Ω–∞ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–µ–Ω–∏–∏ –æ –ª–∏–Ω–µ–π–Ω–æ–π —Å–≤—è–∑–∏ –º–µ–∂–¥—É –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏ –∏ —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π, –∞ –ø–æ—Ç–æ–º—É –ø–µ—Ä–µ–¥ –≤—ã–±–æ—Ä–æ–º –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö –¥–ª—è –≤–∫–ª—é—á–µ–Ω–∏—è –≤ –º–æ–¥–µ–ª—å –∏–º–µ–µ—Ç —Å–º—ã—Å–ª –ø—Ä–æ–≤–µ—Ä–∏—Ç—å, –Ω–∞—Å–∫–æ–ª—å–∫–æ —ç—Ç–∞ —Å–≤—è–∑—å –≤—ã–ø–æ–ª–Ω—è–µ—Ç—Å—è. –î–ª—è —Å–ª–µ–¥—É—é—â–∏—Ö –ø—É–Ω–∫—Ç–æ–≤ –Ω–∞–º —Ç–∞–∫–∂–µ –ø–æ—Ç—Ä–µ–±—É—é—Ç—Å—è –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –º–µ–∂–¥—É –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏. –í—ã–≤–µ–¥–∏—Ç–µ –º–∞—Ç—Ä–∏—Ü—É –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–π –º–µ–∂–¥—É –≤—Å–µ–º–∏ –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–º–∏ –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏ –∏ —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π.

–ö–∞–∫–∏–µ –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –∫–æ—Ä—Ä–µ–ª–∏—Ä—É—é—Ç —Å —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ?

In [163]:
# –≤–≤–µ–¥–µ–º —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é - —Ü–µ–Ω–∞
y = data['price'] # —Ü–µ–ª–µ–≤–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è
numericData = data._get_numeric_data()
numericData.corrwith(y)

carat    0.921591
depth   -0.010647
table    0.127134
price    1.000000
x        0.884435
y        0.865421
z        0.861249
dtype: float64

In [164]:
numericData.corr()

          carat     depth     table     price         x         y         z
carat  1.000000  0.028224  0.181618  0.921591  0.975094  0.951722  0.953387
depth  0.028224  1.000000 -0.295779 -0.010647 -0.025289 -0.029341  0.094924
table  0.181618 -0.295779  1.000000  0.127134  0.195344  0.183760  0.150929
price  0.921591 -0.010647  0.127134  1.000000  0.884435  0.865421  0.861249
x      0.975094 -0.025289  0.195344  0.884435  1.000000  0.974701  0.970772
y      0.951722 -0.029341  0.183760  0.865421  0.974701  1.000000  0.952006
z      0.953387  0.094924  0.150929  0.861249  0.970772  0.952006  1.000000

In [165]:
# –∫–æ—Ä—Ä–µ–ª–∏—Ä—É—é—Ç carat,x,y,x

**–ó–∞–¥–∞–Ω–∏–µ 4 (1 –±–∞–ª–ª)** –¢–∞–∫ –∫–∞–∫ –ª–∏–Ω–µ–π–Ω–∞—è –º–æ–¥–µ–ª—å —Å–∫–ª–∞–¥—ã–≤–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —Å –Ω–µ–∫–æ—Ç–æ—Ä—ã–º–∏ –≤–µ—Å–∞–º–∏, –Ω–∞–º –Ω—É–∂–Ω–æ –∞–∫–∫—É—Ä–∞—Ç–Ω–æ –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏. –ó–∞–∫–æ–¥–∏—Ä—É–π—Ç–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –ø—Ä–∏ –ø–æ–º–æ—â–∏ OneHot-–∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏—è (pd.get_dummies). –ù–µ –∑–∞–±—É–¥—å—Ç–µ –ø–æ—Å—Ç–∞–≤–∏—Ç—å –∑–Ω–∞—á–µ–Ω–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞ drop_first —Ä–∞–≤–Ω—ã–º True.

In [166]:
data = pd.get_dummies(data, columns=['cut', 'color', 'clarity'], drop_first=True)
data.head()

,carat,depth,table,price,x,y,z,cut_Good,cut_Ideal,cut_Premium,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.23,61.5,55.0,326,3.95,3.98,2.43,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,0.23,56.9,65.0,327,4.05,4.07,2.31,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0.29,62.4,58.0,334,4.20,4.23,2.63,0,0,1,...,0,1,0,0,0,0,0,1,0,0
4,0.31,63.3,58.0,335,4.34,4.35,2.75,1,0,0,...,0,0,1,0,0,1,0,0,0,0

**–ó–∞–¥–∞–Ω–∏–µ 5 (1 –±–∞–ª–ª)** 
–°–æ–∑–¥–∞–π—Ç–µ –º–∞—Ç—Ä–∏—Ü—É X, —Å–æ–¥–µ—Ä–∂–∞—â—É—é –≤—Å–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –∏ –Ω–µ —Å–æ–¥–µ—Ä–∂–∞—â—É—é —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é price. –¢–∞–∫–∂–µ —Å–æ–∑–¥–∞–π—Ç–µ –≤–µ–∫—Ç–æ—Ä y, —Å–æ–¥–µ—Ä–∂–∞—â–∏–π —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é price.

In [167]:
y = data['price']
X = data._get_numeric_data().drop('price', axis=1)

**–ó–∞–¥–∞–Ω–∏–µ 5 (1 –±–∞–ª–ª)** 
–ü–µ—Ä–µ–º–µ—à–∞–π—Ç–µ –¥–∞–Ω–Ω—ã–µ! 

–†–∞–∑–¥–µ–ª–∏—Ç–µ –≤—ã–±–æ—Ä–∫—É –Ω–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—É—é –∏ —Ç–µ—Å—Ç–æ–≤—É—é. –î–æ–ª—é —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–∏ —É–∫–∞–∂–∏—Ç–µ —Ä–∞–≤–Ω–æ–π 0.3.

In [169]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3)

**–ó–∞–¥–∞–Ω–∏–µ 6 (1 –±–∞–ª–ª)** –ó–∞—á–∞—Å—Ç—É—é –ø—Ä–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–∏ –ª–∏–Ω–µ–π–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –º–∞—Å—à—Ç–∞–±–∏—Ä—É—é—Ç—Å—è.  –í —ç—Ç–æ–π –∑–∞–¥–∞—á–µ –º–∞—Å—à—Ç–∞–±–∏—Ä—É–π—Ç–µ –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω–æ–π –∏ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–æ–∫ –ø—Ä–∏ –ø–æ–º–æ—â–∏ –º–æ–¥—É–ª—è `StandardScaler`.

–ü–æ—Å–ª–µ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –º–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏—è –º–∞—Ç—Ä–∏—Ü–∞ –ø–µ—Ä–µ—Å—Ç–∞–µ—Ç –±—ã—Ç—å –æ–±—ä–µ–∫—Ç–æ–º Pandas Dataframe - —Ä–µ—à–∏—Ç–µ —ç—Ç—É –ø—Ä–æ–±–ª–µ–º—É.

In [170]:
from sklearn.preprocessing import StandardScaler

# fit calculates the parameters (e.g. ùúá and ùúé in case of StandardScaler) and saves them as an internal object's state
# transform() method to apply the transformation to any particular set of examples
# fit_transform() joins these two steps and is used for the initial fitting of parameters on the training set ùë•, while also returning the transformed  ùë•

# your code here
ss = StandardScaler()
scaler = ss.fit(Xtrain)
Xtrain2 = scaler.fit_transform(Xtrain)
Xtest2 = scaler.transform(Xtest)

Xtrain2 = pd.DataFrame(Xtrain2,columns = Xtrain.columns)
Xtest2 = pd.DataFrame(Xtest2,columns = Xtest.columns)
Xtest2.head()

,carat,depth,table,x,y,z,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.217040,0.035999,0.250142,0.384533,0.355539,0.378460,-0.314576,-0.818968,1.705015,-0.535642,...,-0.425754,-0.333392,4.270228,-0.184194,1.758443,-0.455122,-0.421972,-0.540348,-0.268102,-0.321944
1,0.217040,0.662117,1.147803,0.357805,0.293140,0.407207,-0.314576,-0.818968,1.705015,-0.535642,...,-0.425754,-0.333392,-0.234180,-0.184194,-0.568685,-0.455122,2.369828,-0.540348,-0.268102,-0.321944
2,0.217040,0.314274,1.147803,0.331077,0.382281,0.392833,-0.314576,-0.818968,1.705015,-0.535642,...,-0.425754,-0.333392,-0.234180,-0.184194,1.758443,-0.455122,-0.421972,-0.540348,-0.268102,-0.321944
3,0.870880,0.175136,-1.096349,0.954729,1.024093,1.010899,-0.314576,1.221049,-0.586505,-0.535642,...,-0.425754,-0.333392,-0.234180,-0.184194,-0.568685,-0.455122,-0.421972,-0.540348,3.729923,-0.321944
4,-1.027365,1.288236,-0.198688,-1.263690,-1.293562,-1.159517,3.178883,-0.818968,-0.586505,-0.535642,...,2.348774,-0.333392,-0.234180,-0.184194,1.758443,-0.455122,-0.421972,-0.540348,-0.268102,-0.321944

**–ó–∞–¥–∞–Ω–∏–µ 7 (1 –±–∞–ª–ª)** –û–±—É—á–∏—Ç–µ –ª–∏–Ω–µ–π–Ω—É—é —Ä–µ–≥—Ä–µ—Å—Å–∏—é –Ω–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω–æ–π –≤—ã–±–æ—Ä–∫–µ. –í—ã–≤–µ–¥–∏—Ç–µ r2-score –Ω–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω–æ–π –∏ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–∞—Ö.

In [171]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# your code here
lr = LinearRegression()
lr.fit(Xtrain2, ytrain)

train_pred = lr.predict(Xtrain2)
test_pred = lr.predict(Xtest2)

print("Train MSE: {}".format(np.sqrt(mean_squared_error(ytrain, train_pred))))
print("Test MSE: {}".format(np.sqrt(mean_squared_error(ytest, test_pred))))

print(f'''
train R2={r2_score(ytrain, train_pred)}
''')

print(f'''
test R2={r2_score(ytest, test_pred)}
''')

Train MSE: 1116.3437611555535
Test MSE: 1161.8515713846298

train R2=0.922112029540476


test R2=0.9141135973121071

**–ó–∞–¥–∞–Ω–∏–µ 8 (1 –±–∞–ª–ª)** –í—ã–≤–µ–¥–∏—Ç–µ –Ω–∞ —ç–∫—Ä–∞–Ω –≤–µ—Å–∞, –∫–æ—Ç–æ—Ä—ã–µ –ª–∏–Ω–µ–π–Ω–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è –ø—Ä–∏—Å–≤–æ–∏–ª–∞ –ø—Ä–∏–∑–Ω–∞–∫–∞–º. –ù–∞–∑–æ–≤–∏—Ç–µ –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ, –æ—Ü–µ–Ω–∫–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤ –∫–æ—Ç–æ—Ä—ã—Ö –ø–æ –º–æ–¥—É–ª—é –Ω–∞ –ø–æ—Ä—è–¥–æ–∫ –ø—Ä–µ–≤—ã—à–∞—é—Ç –æ—Ü–µ–Ω–∫–∏ –ø—Ä–æ—á–∏—Ö –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö.

In [172]:
# The coefficients
print('Coefficients: \n', lr.coef_, "\n")
print('Feature:  Weight:')

for feature, coeff in zip(data.columns,lr.coef_.T):
    print(feature, coeff)
    
# carat, price, color_J, clarity_***

Coefficients:
 [ 5366.50067673   -90.76685885   -62.37976104 -1162.36845148
    77.71784489   -89.02951647   165.29847251   414.24899703
   332.7162927    306.60552967   -84.49424436  -105.68405884
  -198.93933262  -355.71232252  -439.5515694   -526.60658738
   928.39539695  1538.25508142   983.17547926  1605.25129121
  1751.42101009  1233.71780778  1418.82120343]

Feature:  Weight:
carat 5366.500676727457
depth -90.76685885080514
table -62.379761036982565
price -1162.3684514785195
x 77.71784488937298
y -89.02951647494316
z 165.2984725054568
cut_Good 414.248997032679
cut_Ideal 332.71629269579483
cut_Premium 306.60552967092445
cut_Very Good -84.49424436491584
color_E -105.68405883612732
color_F -198.93933261610357
color_G -355.7123225238104
color_H -439.55156939770313
color_I -526.6065873753996
color_J 928.3953969454618
clarity_IF 1538.2550814173244
clarity_SI1 983.1754792580304
clarity_SI2 1605.2512912111242
clarity_VS1 1751.4210100919254
clarity_VS2 1233.7178077814303
clarity_VVS1 1418.8212034346252

## –ü–æ–ø—ã—Ç–∫–∞ —É–ª—É—á—à–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏

–≠—Ç–∞ —á–∞—Å—Ç—å —è–≤–ª—è–µ—Ç—Å—è —Ç–≤–æ—Ä—á–µ—Å–∫–æ–π, –∏ –∑–∞–¥–∞–Ω–∏—è –≤ –Ω–µ–π –Ω–µ–º–Ω–æ–≥–æ —Å–ª–æ–∂–Ω–µ–µ, —á–µ–º –ø—Ä–µ–¥—ã–¥—É—â–∏–µ. –ü–æ—ç—Ç–æ–º—É –∑–∞ –∫–∞–∂–¥–æ–µ –∏–∑ –Ω–∏—Ö –º–æ–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å –¥–æ –¥–≤—É—Ö –±–∞–ª–ª–æ–≤.

**–ó–∞–¥–∞–Ω–∏–µ 9* (2 –±–∞–ª–ª–∞)** –ö–∞–∫ –º–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–æ–Ω–Ω–æ–π –º–∞—Ç—Ä–∏—Ü—ã –≤ –∑–∞–¥–∞–Ω–∏–∏ 3, –º–µ–∂–¥—É –Ω–µ–∫–æ—Ç–æ—Ä—ã–º–∏ –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏ –∏–º–µ–µ—Ç—Å—è —Å–∏–ª—å–Ω–∞—è –∫–æ—Ä—Ä–µ–ª—è—Ü–∏—è, —á—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–æ–º –ø—Ä–æ–±–ª–µ–º—ã *–º—É–ª—å—Ç–∏–∫–æ–ª–ª–∏–Ω–µ–∞—Ä–Ω–æ—Å—Ç–∏*. –†–∞–∑–ª–∏—á–∏—è –≤ –ø–æ—Ä—è–¥–∫–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤, –≤—ã—è–≤–ª–µ–Ω–Ω—ã–µ –≤ –ø—Ä–µ–¥—ã–¥—É—â–µ–π –∑–∞–¥–∞—á–µ, —Ç–∞–∫–∂–µ —Å–≤–∏–¥–µ—Ç–µ–ª—å—Å—Ç–≤—É—é—Ç –æ–± —ç—Ç–æ–º. –î–ª—è —Ä–µ—à–µ–Ω–∏—è —ç—Ç–æ–π –ø—Ä–æ–±–ª–µ–º—ã –º–æ–∂–Ω–æ –ª–∏–±–æ –∏—Å–∫–ª—é—á–∏—Ç—å –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏–∑ –º–æ–¥–µ–ª–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –ø—Ä–∏–∑–Ω–∞–∫ –ª–∏–Ω–µ–π–Ω–æ –∑–∞–≤–∏—Å–∏–º —Å –∫–∞–∫–∏–º–∏-—Ç–æ –¥—Ä—É–≥–∏–º–∏, –µ–≥–æ –º–æ–∂–Ω–æ –∏—Å–∫–ª—é—á–∏—Ç—å –∏–∑ –º–æ–¥–µ–ª–∏, —Ç.–µ. —É–¥–∞–ª–∏—Ç—å –∏–∑ –º–∞—Ç—Ä–∏—Ü—ã –æ–±—ä–µ–∫—Ç-–ø—Ä–∏–∑–Ω–∞–∫ –∏ –∑–∞–Ω–æ–≤–æ –æ–±—É—á–∏—Ç—å –º–æ–¥–µ–ª—å).

–£–¥–∞–ª–∏—Ç–µ –∏–∑ –º–∞—Ç—Ä–∏—Ü Xtrain –∏ Xtest –ø—Ä–∏–∑–Ω–∞–∫, –∫–æ—Ç–æ—Ä—ã–π –Ω–∞–∏–±–æ–ª–µ–µ —Å–∏–ª—å–Ω–æ –∫–æ—Ä—Ä–µ–ª–∏—Ä—É–µ—Ç —Å –æ—Å—Ç–∞–ª—å–Ω—ã–º–∏. –ó–∞–Ω–æ–≤–æ –æ–±—É—á–∏—Ç–µ –º–æ–¥–µ–ª—å –∏ –æ—Ü–µ–Ω–∏—Ç–µ –µ—ë –∫–∞—á–µ—Å—Ç–≤–æ. –£–ª—É—á—à–∏–ª–æ—Å—å –ª–∏ –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏?
–ü–æ–ø—Ä–æ–±—É–π—Ç–µ —É–¥–∞–ª–∏—Ç—å –∫–∞–∫–æ–π-—Ç–æ –¥—Ä—É–≥–æ–π –ø—Ä–∏–∑–Ω–∞–∫ (–º–æ–∂–µ—Ç–µ –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤). –ü–æ–º–æ–≥–ª–æ –ª–∏ —ç—Ç–æ —É–ª—É—á—à–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏?

In [173]:
# –ø–æ–ø—Ä–æ–±—É–µ–º —É–¥–∞–ª–∏—Ç—å —Ç—Ä–∏ –ø—Ä–∏–∑–Ω–∞–∫–∞, –∫–æ—Ç–æ—Ä—ã–µ —Å–∏–ª—å–Ω–æ –∫–æ—Ä—Ä–µ–ª–∏—Ä—É—é—Ç —Å –¥—Ä—É–≥–∏–º–∏
X1 = X.drop(['x', 'y', 'z'], axis=1)

In [174]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
Xtrain, Xtest, ytrain, ytest = train_test_split(X1, y, test_size=0.3)

ss = StandardScaler()
scaler = ss.fit(Xtrain)
Xtrain2 = scaler.fit_transform(Xtrain)
Xtest2 = scaler.transform(Xtest)

Xtrain2 = pd.DataFrame(Xtrain2,columns = Xtrain.columns)
Xtest2 = pd.DataFrame(Xtest2,columns = Xtest.columns)
Xtest2.head()

,carat,depth,table,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.275919,-1.009189,0.244396,-0.315033,-0.813383,1.694411,-0.536174,-0.472701,-0.462903,-0.513555,-0.425754,-0.334029,4.247452,-0.185726,-0.563627,-0.45317,2.376454,-0.543047,-0.271491,-0.322895
1,1.493743,-0.244452,0.244396,-0.315033,-0.813383,-0.590176,1.865066,-0.472701,2.160282,-0.513555,-0.425754,-0.334029,-0.235435,-0.185726,-0.563627,-0.45317,-0.420795,-0.543047,-0.271491,3.096983
2,-1.025893,0.937414,0.244396,-0.315033,-0.813383,-0.590176,1.865066,-0.472701,-0.462903,1.947209,-0.425754,-0.334029,-0.235435,-0.185726,-0.563627,-0.45317,-0.420795,1.841460,-0.271491,-0.322895
3,0.212928,-1.009189,-0.648769,-0.315033,-0.813383,1.694411,-0.536174,2.115502,-0.462903,-0.513555,-0.425754,-0.334029,-0.235435,-0.185726,1.774222,-0.45317,-0.420795,-0.543047,-0.271491,-0.322895
4,0.779846,-0.870146,-0.202186,-0.315033,-0.813383,-0.590176,1.865066,-0.472701,-0.462903,-0.513555,-0.425754,-0.334029,-0.235435,-0.185726,-0.563627,-0.45317,2.376454,-0.543047,-0.271491,-0.322895

In [175]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# your code here
lr = LinearRegression()
lr.fit(Xtrain2, ytrain)

train_pred = lr.predict(Xtrain2)
test_pred = lr.predict(Xtest2)
print("Train MSE: {}".format(np.sqrt(mean_squared_error(ytrain, train_pred))))
print("Test MSE: {}".format(np.sqrt(mean_squared_error(ytest, test_pred))))

print(f'''
train R2={r2_score(ytrain, train_pred)}
''')

print(f'''
test R2={r2_score(ytest, test_pred)}
''')

# –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ —É—Ö—É–¥—à–∏–ª–æ—Å—å, –Ω–æ –Ω–µ –Ω–∞–º–Ω–æ–≥–æ

Train MSE: 1157.5516591816718
Test MSE: 1152.1058545004962

train R2=0.9166961299891525


test R2=0.9144722435125905

In [176]:
# –ø–æ–ø—Ä–æ–±—É–µ–º —É–¥–∞–ª–∏—Ç—å –¥—Ä—É–≥–æ–π –ø—Ä–∏–∑–Ω–∞–∫
X2 = X.drop(['carat'], axis=1)

In [177]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
Xtrain, Xtest, ytrain, ytest = train_test_split(X2, y, test_size=0.3)

ss = StandardScaler()
scaler = ss.fit(Xtrain)
Xtrain2 = scaler.fit_transform(Xtrain)
Xtest2 = scaler.transform(Xtest)

Xtrain2 = pd.DataFrame(Xtrain2,columns = Xtrain.columns)
Xtest2 = pd.DataFrame(Xtest2,columns = Xtest.columns)

In [178]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# your code here
lr = LinearRegression()
lr.fit(Xtrain2, ytrain)

train_pred = lr.predict(Xtrain2)
test_pred = lr.predict(Xtest2)

print("Train MSE: {}".format(np.sqrt(mean_squared_error(ytrain, train_pred))))
print("Test MSE: {}".format(np.sqrt(mean_squared_error(ytest, test_pred))))

print(f'''
train R2={r2_score(ytrain, train_pred)}
''')

print(f'''
test R2={r2_score(ytest, test_pred)}
''')
# –Ω–µ–ª—å–∑—è —É–¥–∞–ª—è—Ç—å –¥–∞–Ω–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫, —Ç–∫ –º–æ–¥–µ–ª—å —Å—Ç–∞–ª–∞ —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–º–Ω–æ–≥–æ —Ö—É–∂–µ

Train MSE: 1595.075337626729
Test MSE: 1596.5658290838776

train R2=0.8403710762790253


test R2=0.8392866716132239

**–ó–∞–¥–∞–Ω–∏–µ 10* (2 –±–∞–ª–ª–∞)** –ò–Ω–æ–≥–¥–∞ –≥–µ–Ω–µ—Ä–∞—Ü–∏—è –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –ø–æ–º–æ–≥–∞–µ—Ç –º–æ–¥–µ–ª–∏ –ª—É—á—à–µ –Ω–∞—Ö–æ–¥–∏—Ç—å –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ –º–µ–∂–¥—É —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –∏ –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏. –ü–æ–ø—Ä–æ–±—É–π—Ç–µ –ø—Ä–∏–¥—É–º–∞—Ç—å –Ω–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏ –¥–æ–±–∞–≤–∏—Ç—å –∏—Ö –≤ –º–æ–¥–µ–ª—å (–º–æ–∂–Ω–æ —á–µ—Ä–ø–∞—Ç—å –∏–¥–µ–∏ –∏–∑ –Ω–æ—É—Ç–±—É–∫–∞ –∑–∞–Ω—è—Ç–∏—è 3). –ü–æ–º–æ–≥–ª–æ –ª–∏ —ç—Ç–æ —É–ª—É—á—à–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏?

In [205]:
import copy

df = X.loc[:, ['carat', 'depth', 'table']]
cols = copy.deepcopy(df.columns)

for col1 in cols:
    for col2 in cols:
        col_name = col1 + '_' + col2
        if col_name not in df.columns:
            df[col_name] = df[col1]*df[col2]
df = df.drop(['carat', 'depth', 'table'], axis=1)
df.columns

Index(['carat_carat', 'carat_depth', 'carat_table', 'depth_carat',
       'depth_depth', 'depth_table', 'table_carat', 'table_depth',
       'table_table'],
      dtype='object')

In [207]:
df1 = pd.concat([X, df], axis=1)
df1

,carat,depth,table,x,y,z,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,clarity_VVS2,carat_carat,carat_depth,carat_table,depth_carat,depth_depth,depth_table,table_carat,table_depth,table_table
0,0.23,61.5,55.0,3.95,3.98,2.43,0,1,0,0,...,0,0.0529,14.145,12.65,14.145,3782.25,3382.5,12.65,3382.5,3025.0
1,0.21,59.8,61.0,3.89,3.84,2.31,0,0,1,0,...,0,0.0441,12.558,12.81,12.558,3576.04,3647.8,12.81,3647.8,3721.0
2,0.23,56.9,65.0,4.05,4.07,2.31,1,0,0,0,...,0,0.0529,13.087,14.95,13.087,3237.61,3698.5,14.95,3698.5,4225.0
3,0.29,62.4,58.0,4.20,4.23,2.63,0,0,1,0,...,0,0.0841,18.096,16.82,18.096,3893.76,3619.2,16.82,3619.2,3364.0
4,0.31,63.3,58.0,4.34,4.35,2.75,1,0,0,0,...,0,0.0961,19.623,17.98,19.623,4006.89,3671.4,17.98,3671.4,3364.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,5.75,5.76,3.50,0,1,0,0,...,0,0.5184,43.776,41.04,43.776,3696.64,3465.6,41.04,3465.6,3249.0
53936,0.72,63.1,55.0,5.69,5.75,3.61,1,0,0,0,...,0,0.5184,45.432,39.60,45.432,3981.61,3470.5,39.60,3470.5,3025.0
53937,0.70,62.8,60.0,5.66,5.68,3.56,0,0,0,1,...,0,0.4900,43.960,42.00,43.960,3943.84,3768.0,42.00,3768.0,3600.0
53938,0.86,61.0,58.0,6.15,6.12,3.74,0,0,1,0,...,0,0.7396,52.460,49.88,52.460,3721.00,3538.0,49.88,3538.0,3364.0
53939,0.75,62.2,55.0,5.83,5.87,3.64,0,1,0,0,...,0,0.5625,46.650,41.25,46.650,3868.84,3421.0,41.25,3421.0,3025.0

In [208]:
print(df1.shape)
print(y.shape)

(53940, 32)
(53940,)

In [210]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
Xtrain, Xtest, ytrain, ytest = train_test_split(df1, y, test_size=0.3)

ss = StandardScaler()
scaler = ss.fit(Xtrain)
Xtrain2 = scaler.fit_transform(Xtrain)
Xtest2 = scaler.transform(Xtest)

Xtrain2 = pd.DataFrame(Xtrain2,columns = Xtrain.columns)
Xtest2 = pd.DataFrame(Xtest2,columns = Xtest.columns)

In [211]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# your code here
lr = LinearRegression()
lr.fit(Xtrain2, ytrain)

train_pred = lr.predict(Xtrain2)
test_pred = lr.predict(Xtest2)

print("Train MSE: {}".format(np.sqrt(mean_squared_error(ytrain, train_pred))))
print("Test MSE: {}".format(np.sqrt(mean_squared_error(ytest, test_pred))))

print(f'''
train R2={r2_score(ytrain, train_pred)}
''')

print(f'''
test R2={r2_score(ytest, test_pred)}
''')

Train MSE: 1104.7651386054745
Test MSE: 1088.4028288147933

train R2=0.9235858747060604


test R2=0.9249407961204537

## –í—ã–≤–æ–¥—ã

–°–¥–µ–ª–∞–π—Ç–µ –≤—ã–≤–æ–¥—ã, –∏—Å—Ö–æ–¥—è –∏–∑ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω–æ–π —Ä–∞–±–æ—Ç—ã.

–ö–∞–∫–æ–≥–æ –Ω–∞–∏–ª—É—á—à–µ–≥–æ –∫–∞—á–µ—Å—Ç–≤–∞ —É–¥–∞–ª–æ—Å—å –¥–æ–±–∏—Ç—å—Å—è? –•–æ—Ä–æ—à–µ–µ –ª–∏ —ç—Ç–æ –∫–∞—á–µ—Å—Ç–≤–æ –Ω–∞ –≤–∞—à –≤–∑–≥–ª—è–¥? –ß—Ç–æ –¥–ª—è —ç—Ç–æ–≥–æ –≤–∞–º –ø—Ä–∏—à–ª–æ—Å—å —Å–¥–µ–ª–∞—Ç—å?

–¢–∞–∫–∂–µ (–ø–æ –∂–µ–ª–∞–Ω–∏—é) –Ω–∞–ø–∏—à–∏—Ç–µ, –±—ã–ª–∞ –ª–∏ —ç—Ç–∞ –¥–æ–º–∞—à–Ω—è—è —Ä–∞–±–æ—Ç–∞ –¥–ª—è –≤–∞—Å –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ–π.

In [ ]:
—É–¥–∞–ª–æ—Å—å —É–ª—É—á—à–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ test R2=0.92 –∏ —É–º–µ–Ω—å—à–∏—Ç—å –æ—à–∏–±–∫—É Test MSE: 1088
–î–ª—è —ç—Ç–æ–≥–æ —è –¥–æ–±–∞–≤–∏–ª–∞ –Ω–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –ø–µ—Ä–µ–º–Ω–æ–∂–∏–≤ –∏—Ö, –¥–ª—è 3 –Ω–µ–∫–æ—Ä—Ä–µ–ª–∏—Ä—É—é—â–∏—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ carat depth table
–†–∞–±–æ—Ç–∞ –±—ã–ª–∞ –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ–π, –º–µ—Å—Ç–∞–º–∏ –Ω–µ–º–Ω–æ–≥–æ —Å–ª–æ–∂–Ω–æ–≤–∞—Ç–æ–π, –Ω–æ –ø–æ—Å—Ç–∞—Ä–∞–ª–∞—Å—å —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è